In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\ANISH\Desktop\covid_predictor\covid.csv",  low_memory = False)
df.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,body_temparature,covid_res
0,16169f,2,1,4/5/2020,2/5/2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,6/4/2020,1/4/2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10/4/2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2

In [3]:
df['covid_res']=df['covid_res'].map({1:0,2:1,97:2,99:2,98:2})
df['sex']=df['sex'].map({1:0,2:1,97:2,99:2,98:2})
df['intubed']=df['intubed'].map({1:0,2:1,97:2,98:2,99:2})
df['pneumonia']=df['pneumonia'].map({1:0,2:1,97:2,98:2,99:2})
df['diabetes']=df['diabetes'].map({1:0,2:1,97:2,98:2,99:2})
df['copd']=df['copd'].map({1:0,2:1,97:2,98:2,99:2})
df['asthma']=df['asthma'].map({1:0,2:1,97:2,98:2,99:2})
df['inmsupr']=df['inmsupr'].map({1:0,2:1,97:2,98:2,99:2})
df['hypertension']=df['hypertension'].map({1:0,2:1,97:2,98:2,99:2})
df['other_disease']=df['other_disease'].map({1:0,2:1,97:2,98:2,99:2})
df['cardiovascular']=df['cardiovascular'].map({1:0,2:1,97:2,98:2,99:2})
df['obesity']=df['obesity'].map({1:0,2:1,97:2,98:2,99:2})
df['renal_chronic']=df['renal_chronic'].map({1:0,2:1,97:2,98:2,99:2})
df['tobacco']=df['tobacco'].map({1:0,2:1,97:2,98:2,99:2})
df['contact_other_covid']=df['contact_other_covid'].map({1:0,2:1,97:2,98:2,99:2})
df['body_temparature']=df['body_temparature'].map({1:0,2:1,97:2,98:2,99:2})

In [4]:
indexnames=df[df['covid_res']==3].index
df.drop(indexnames,inplace=True)

In [5]:
df['pregnancy']=df['pregnancy'].map({1:1,2:2,97:3,98:3})

In [6]:
df.drop(['id','patient_type','pregnancy','intubed'],axis=1,inplace=True)
df.head()

,sex,entry_date,date_symptoms,date_died,pneumonia,age,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,body_temparature,covid_res
0,2,4/5/2020,2/5/2020,9999-99-99,1,27,1,1,1,1,1,1,1,1,1,1,1,0.0,2
1,2,19-03-2020,17-03-2020,9999-99-99,1,24,1,1,1,1,1,1,1,1,1,1,2,0.0,2
2,1,6/4/2020,1/4/2020,9999-99-99,1,54,1,1,1,1,1,1,1,0,1,1,2,0.0,1
3,2,17-04-2020,10/4/2020,9999-99-99,0,30,1,1,1,1,1,1,1,1,1,1,2,0.0,1
4,1,13-04-2020,13-04-2020,22-04-2020,1,60,0,1,1,1,0,1,0,1,1,1,2,0.0,1

In [7]:
df.drop(['entry_date','date_symptoms','date_died'],axis=1,inplace=True)
df.head()

,sex,pneumonia,age,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,body_temparature,covid_res
0,2,1,27,1,1,1,1,1,1,1,1,1,1,1,0.0,2
1,2,1,24,1,1,1,1,1,1,1,1,1,1,2,0.0,2
2,1,1,54,1,1,1,1,1,1,1,0,1,1,2,0.0,1
3,2,0,30,1,1,1,1,1,1,1,1,1,1,2,0.0,1
4,1,1,60,0,1,1,1,0,1,0,1,1,1,2,0.0,1

In [8]:
df=df.dropna()

In [9]:
X = df.drop('covid_res',axis=1)
y = df['covid_res']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=101)

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train= scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=200)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
rfc_pred = rfc.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,rfc_pred)

0.8779755650947078

In [14]:
inp_f=[1,1,30,1,1,1,1,1,0,1,1,1,1,1,1]
inp_prob=rfc.predict_proba([inp_f])[0][1]

In [15]:
inp_prob

0.6445000000000001